<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.688194676970-g7hhh3mig118flbgbjifbi2it05scaq0</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>688194676970-g7hhh3mig118flbgbjifbi2it05scaq0.apps.googleusercontent.com</string>
	<key>NSAlarmKitUsageDescription</key>
	<string>EarlyOtter schedules wake-up alarms based on your calendar events.</string>
</dict>
</plist>
